<div style="margin: 5px; padding: 3px;" [id]="this.searchTextConfig.id">
  <div class="col-md-12" style="padding: 0;">
    <ol class="breadcrumb">
      <li>
        <input type="text" placeholder="Search" class="form-control">
      </li>
      <li> <a class="btn btn-info" style="margin-left: 0px; vertical-align: middle;" data-toggle="tooltip" title="Search">
          <i class="fa fa-search"></i>
        </a></li>
      <li>
        <a class="btn btn-info" style="margin-left: 0px; vertical-align: middle;" data-toggle="tooltip" title="Previous Match">
          <i class="fa fa-arrow-circle-o-left"></i>
        </a>
      </li>
      <li>
        <a class="btn btn-info" style="vertical-align: middle" data-toggle="tooltip" title="Next Match">
          <i class="fa fa-arrow-circle-o-right"></i>
        </a>
      </li>
      <li class="src-msg"></li>
    </ol>
  </div>
  <div style="padding-top: 2px;">
    <pre [id]="[this.searchTextConfig.id+'-preSource']" style="height: 400px; max-height: 400px; width: 100%; max-width: 100%;"></pre>
  </div>
</div>
