<ul id="landing">
    <li>
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/landing']">Home</a>
    </li>
    <li class="active">Dashboard</li>
</ul>

<ul id="review-logs">
    <li>
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/landing']">Home</a>
    </li>  
    <li class="active">Review Logs</li>
</ul>
<ul id="product-config">
    <li>
        <a [routerLink]="['/landing']">Home</a>
    </li>
    <li>
        <a href="#">Login</a>
    </li>
    <li class="active">Product Config</li>
</ul>
<ul id="blank-page-template">
    <li class="active">Blank</li>
</ul>
<ul id="my-profile">
    <li>
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/landing']">Home</a>
    </li>
    <li>
        <a [routerLink]="['/landing']">Dashboard</a>
    </li>
    <li class="active">My Profile</li>
</ul>
<ul id="lic-details">
    <li>
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/landing']">Home</a>
    </li>
    <li>
        <a [routerLink]="['/landing']">Dashboard</a>
    </li>
    <li class="active">License Details</li>
</ul>
<ul id="upload-project">
    <li>
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/landing']">Home</a>
    </li>
    <li>
        <a [routerLink]="['/landing']">Dashboard</a>
    </li>
    <li class="active">Upload Project</li>
</ul>