<style>
  .demo-my-bg {
    background-image: url("../../../assets/img/balloon.jpg");
  }

  li {
    list-style-type: none;
    font-size: 15px;
  }

</style>
<div id="container" class="cls-container">
  <div id="bg-overlay" class="bg-img demo-my-bg"></div>
  <div class="cls-header cls-header-lg" style="background-color: #282724;">
    <div class="cls-brand">
      <a class="box-inline" [routerLink]="['/user-login']">
        <div>
          <img src="../../../assets/img/logo.png" alt="floKapture" />
          <span class="brand-title">
            <font color="#ababab" style="font-style: italic;">flo</font>
            <font color="#ffc000">Kapture</font> -
            <span class="text-thin">Login</span>
          </span>
        </div>
      </a>
    </div>
  </div>
  <div class="cls-content">
    <div class="cls-content-sm panel">
      <div class="panel-body">
        <p class="pad-btm" style="color: black; padding-top: 5%;">Sign In to your account</p>
        <form style="margin: 15px;" (ngSubmit)="f.form.valid && userLogin(f);" #f="ngForm" accept-charset="UTF-8">
          <div class="form-group">
            <!-- <label for="Username">Username:</label> -->
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <input ngModel name="UserName" type="text" class="form-control" placeholder="Username" required="required">
            </div>
          </div>
          <div class="col-md-12" style="height: 5px;">&nbsp;</div>
          <div class="form-group">
            <!-- <label for="Password">Password:</label> -->
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-asterisk"></i>
              </div>
              <input ngModel name="Password" type="password" autocomplete="current-password" class="form-control"
                placeholder="Password" required>
            </div>
          </div>
          <div class="form-group">
            <div id="tdError" class="xyz">{{message}}
            </div>
          </div>
          <div class="">
            <div class="col-xs-8 text-left checkbox">
            </div>
            <div class="col-xs-4" style="padding:0;">
              <div class="form-group text-right">
                <button [disabled]="!f.valid" class="btn btn-success text-uppercase" type="submit">Sign
                  In</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="pad-ver">
      <a routerLink="/forgot-password" class="btn-link mar-rgt">Forgot password ?</a>
      <a routerLink="/user-signup" class="btn-link mar-lft">Create a new account</a>
      <a href="#" class="btn-link mar-lft" id="lnkWhatsNew">What's new?</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="modal fade" id="whatsNewDialog" role="dialog">
    <div class="modal-dialog" style="width: 650px;">
      <div class="modal-content">
        <div class="modal-header" style="padding: 11px 11px 3px 4px; text-align: center; position: initial; ">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 id="H10">
            <span class="fa fa-list" style="margin-right: 10px;"></span>What's new / Issues</h4>
        </div>
        <div class="modal-body" style="padding: 2px 9px;">
          <div id="divIncludeFile">
            <pre id="treeViewSourceNew" style="width: 631px; overflow-y: scroll;"></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="footer">
  <div class="hide-fixed pull-right pad-rgt" id="divVersion"></div>
  <p class="pad-lft" style="color: white;">
    &#0169; 2017 FloKapture Solutions. All Rights Reserved.
  </p>
</footer>
<!-- <a [routerLink]="['/landing']" class="btn btn-link">Landing</a> -->
<!-- <a [routerLink]="['/landing']" class="btn btn-link">Landing</a> -->
<!-- <div id="container" class="cls-container">
  <div class="cls-content">
    <div class="cls-content-sm panel">
      <div class="panel-body">
        <p class="pad-btm" style="color: wheat;">Sign In to your account</p>
        <form action="#" method="get" id="LoginForm" accept-charset="UTF-8">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <input type="text" id="TxtUserName" value="yogeshs" class="form-control" placeholder="Username">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-asterisk"></i>
              </div>
              <input type="password" autocomplete="current-password" (keypress)="userLogin();" id="TxtPassword" value="Yogesh@123" class="form-control"
                placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div id="tdError">
            </div>
          </div>
          <div class="col-xs-8 form-group" style="float: right;">
            <button class="btn btn-success text-uppercase" id="BtnLogin" (click)="userLogin();" type="button">Sign In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="pad-ver">
    <a routerLink="/forgot-password" routerLinkActive="active">Forgot Password</a>
    <a routerLink="/user-signup" routerLinkActive="active">Signup</a>
  </div>
</div> -->
