input.file {
  width: 250px;
  height: 32px;
  border: 1px solid #BBB;
  border-right: 0;
  color: #888;
  padding: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}

div.file-upload {
  width: 85px;
  height: 29px;
  background: #dddddd;
  display: inline;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  /* -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; */
  /* font-weight: bold; */
  color: #000000;
  text-align: center;
  padding-top: 8px;
}

div.file-upload:before {
  content: 'Browse...';
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
}

div.file-upload input {
  position: relative;
  height: 30px;
  width: 250px;
  display: inline;
  cursor: pointer;
  opacity: 0;
}

.breadcrumb>li+li:before {
  content: "";
}

.breadcrumb li,
.breadcrumb li a {
  color: white;
}

.breadcrumb {
  padding: 0;
}