<div style="margin: 5px; padding: 3px 3px 25px 3px;">
  <ol class="breadcrumb">
    <li style="width: 40%;">
      <div>
        <input type="text" (click)="triggerClick(this);" [id]="this.selectedFiles" [placeholder]="uploadConfig.placeHolder"
          class="form-control selected-files" />
      </div>
    </li>
    <li style="width: 12%; vertical-align: text-bottom; padding-bottom: 8px;">
      <div class="file-upload">
        <input type="file" class="form-control-file" (change)="showSelected();" [accept]="uploadConfig.allowExtensions"
          [id]="this.fileCtrl" [multiple]="uploadConfig.multiple" />
      </div>
    </li>
    <li>
      <div>
        <button class="btn btn-primary btn-labeled fa fa-upload" (click)="uploadDocuments();" type="button" [id]="this.uploadBtn">Upload</button>
      </div>
    </li>
  </ol>
  <div class="col-md-12" style="padding: 0 1px;" colspan="3" [id]="[uploadConfig.id+'-tdMsg']">
  </div>
</div>