.form-group>label {
  color: black;
}

.demo-my-bg {
  background-image: url("../../../assets/img/balloon.jpg");
}

li {
  list-style-type: none;
  font-size: 15px;
}

.panel-body {
  padding: 10px;
}

td {
  text-align: left;
}

form {
  text-align: left;
}

.cls-brand {
  padding: 2px;
}

.cls-content {
  padding: 5px 15px 15px;
  /* padding-top: 10vh; */
  position: relative;
}
