.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
  border-right: 1px solid red;
}

.invalid-input {
  color: red;
  padding: 6px 0 4px 0px;
}
